@model IEnumerable<btl.Models.Order>
@{
    ViewBag.Title = "Succes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid wide">
    <br /><br />
        <h1 class="cart-title" style="background-color:#ffffff;text-align:center">Chúc mừng bạn!!! Đã đặt hàng thành công!!!</h1>
        <div style="text-align:center;margin:0px 0px 50px">
            <a href="/Home/Index" class="btn btn-primary" style="background-color:var(--primary-color);border-radius:5px;color:var(--white-color)">Tiếp tục mua hàng để ủng hộ web nhé ^^ ...</a>

        </div>
</div>

